<section>
    <div class="education-card">
        <h1 class="section-title">EDUCACIÓN</h1>
        <h2 style="margin-top: 5px; font-weight: 600; color: rgb(69, 206, 248);">Grado en Ingeniería Informática</h2>
        <div class="project-section">
            <div>
                <h3 style="font-size: 1.5em; font-style: italic; font-weight: bold;">Universitat Politècnica de Catalunya - Barcelona Tech 2019-2024</h3>
                <div>
                    <ul style="font-size: 1.3em;">
                        <li>Arquitectura de computadores, sistemas operativos, estadística y minería de datos.</li>
                        <li>Especial émfasis en <strong>lógica de programación</strong>, <strong>estructuras de datos</strong> y <strong>algoritmos de ordenación</strong>.</li>
                        <li>Habilidades técnicas en el uso de diversos <strong>lenguajes de programación</strong>, entre los más destacados: <strong>C++</strong> y <strong>Java</strong>.</li>
                        <li><strong>Diseño y arquitectura de software</strong> + buenas prácticas.</li>
                        <li>Metodologías ágiles.</li>
                        <li>Stack tecnológico:
                            <ul>
                                <li>C++, C, Java, Python, React, React Native, Django, Ruby, R.</li>
                            </ul>

                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
