<div class="title-container">
    <h1 style="color:white; font-weight:900; font-size: 5.5rem;">¡HOLA!👋 <span style="font-weight: 700;">Encantado de conocerte!</span></h1>
    <p style="font-size: 1.5em; color: white; width: 75%; margin-top: 1em;">
        Mi nombre es <mark><strong>Mario</strong></mark>, y soy <strong>ingeniero informático</strong> recién graduado del grado de Ingeniería Informática en la Universidad Politécnica de Catalunya.
         Me considero una persona <strong>creativa</strong>, <strong>trabajadora</strong> y <strong>apasionada</strong> por el mundo de la programación, que busca <strong>expandir</strong> su crecimiento tanto profesional como personal en un nuevo reto donde poder <strong>aportar valor</strong> y <strong>aprender</strong>.
    </p>
    <p style="font-size: 1.5em; color: white; width: 75%; margin-top: 2em;">
        ¡Apuesto en encontrar un lugar cómodo donde poder desarrollar mi carrera y conocer nuevas personas!
    </p>

    <div class="link-group">
        <a class="link-url" target="_blank" href="https://www.linkedin.com/in/mariomartinsola/"> 
            <img src="assets/linkedin.png" alt="LinkedIn" />
            <span class="text-image">LinkedIn</span>
        </a>
        <a class="link-url" target="_blank" href="https://github.com/mariowoleg"> 
            <img src="assets/github.png" alt="Github" />
            <span class="text-image">Github</span>
        </a>
        <a class="link-url" target="_blank" href="https://leetcode.com/u/mariowoleg/"> 
            <img src="assets/leetcode.png" alt="Leetcode" />
            <span class="text-image">Leetcode</span>
        </a>
        <a style="text-decoration: none;" href="assets/cv.pdf" download="cv.pdf" class="btn-descargar">
            ¡Descarga mi CV!
        </a>
    </div>
</div>