
.experience-container{
    margin-top: 1.75em;
}

.experience-project{
    font-size: 1.6em;
    font-weight: 700; 
    color: rgb(69, 206, 248);
}

.tech-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    justify-content: left;
    list-style: none;
}

.tech-list .item{
    border-radius: 20px;
    padding: 7.5px;
    min-width: fit-content;
    width: fit-content;
    background-color: #792f2f;

    &:hover{
        transition: background-color 0.2s ease ;
        background-color: #b64848;
        cursor:default;
    }
}