<section>
    <div class="section-card">
        <h1 class="section-title">EXPERIENCIA PROFESIONAL</h1>
        <div class="experience-section">
            <div>
                <h2 style="font-weight: 800; color: #fcc7c7; font-size: 1.9em;">FULL-STACK DEVELOPER
                    <span style="color: rgb(245, 243, 243); font-size: .9em; font-style: italic;"> - Instituto de Tecnología de la Construcción de Cataluña (Enero 2023- Junio 2024)</span>
                </h2>       
                <ul style="margin-top: 1em; width: 90%;">
                    <li>
                        <div class="experience-container">
                            <h4 class="experience-project">Visualización 3D de Edificaciones (POCITYF)</h4>
                            <p style="font-size: 1.2em;">Creación de una aplicación web interactiva que permite la visualización en 3D de edificaciones en un mapa virtual. Los usuarios pueden acceder a las características e información técnica asociada a cada edificación mediante APIs REST.</p>
                            <p style="font-style: italic; margin-left: 2em;"><strong>Logro:</strong> Implementación de un sistema robusto para la visualización eficiente de volúmenes de datos geoespaciales a través de una API oficial del gobierno de España.</p>
                        </div>
                    </li>
                    <li>
                        <div class="experience-container">
                            <h4 class="experience-project">Gestión de Ubicaciones y Materiales (MANTENIM CIRCULAR)</h4>
                            <p style="font-size: 1.2em;">Desarrollo de una aplicación web para gestionar ubicaciones de edificaciones en un mapa virtual. Incluye un sistema de filtrado de información y consulta de inventarios internos de materiales asociados a cada una de las edificaciones.</p>
                            <p style="font-style: italic; margin-left: 2em;"><strong>Logro:</strong> Optimización de la gestión de materiales, mejorando la eficiencia del proceso de consulta y administración de edificaciones.</p>
                        </div>
                    </li>
                    <li>
                        <div class="experience-container">
                            <h4 class="experience-project">Extracción de Datos IFC (BIM)</h4>
                            <p style="font-size: 1.2em;">Implementación de un servidor backend para extraer características bajo demanda de archivos con formato "Industry Foundation Classes" (IFC), facilitando la integración de datos en aplicaciones de tipo "Building Information Modelling" (BIM).</p>
                            <p style="font-style: italic; margin-left: 2em;"><strong>Logro:</strong> Integración de datos BIM con un alto nivel de precisión.</p>
                        </div>
                    </li>
                </ul>         
            </div>

            <br>
            <strong style=" padding: 2.5px;font-size: 1.5em; background-color: rgb(109, 93, 2);">STACK TECNOLÓGICO:</strong>
            <ul class="tech-list">
                <li class="item">Angular12+</li>
                <li class="item">Typescript</li>
                <li class="item">Java SE 8+</li>
                <li class="item">Spring</li>
                <li class="item">PostgreSQL</li>
                <li class="item">NodeJS</li>
                <li class="item">Insomnia</li>
                <li class="item">Mapbox GL</li>
                <li class="item">Maplibre GL</li>
                <li class="item">CesiumJS</li>
            </ul>
            
        </div>
    </div>
</section>
