    <div class="section-card">
        <h1 class="section-title">PROYECTOS</h1>
        <ul>
            <li>
                <div class="project-section">
                    <div class="project-info">
                        <h2 class="project-info-title">COOLTURAL (Q3 2023- Q1 2024)</h2>
                        <p style="font-size: 1.3em; justify-content: left;">Cooltural es una aplicación móvil hecha con <strong>React Native</strong> y <strong>NodeJS</strong> dedicada a todas
                            aquellas personas interesadas en descubrir actividades culturales en Cataluña. La aplicación consiste en una agenda cultural formada por un mapa en tiempo real
                            con geolocalización, donde se muestran todas las actividades culturales disponibles en Cataluña.
                        </p>
                        <span style="font-style: italic;">NOTA: El proyecto forma parte de un repositorio oculto en colaboración con otras personas.</span>
                    </div>
                    <img style="max-height: 300px;" src="assets/cooltural.png" alt="Placeholder img">

                </div>  
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <div class="project-section">
                    <div class="project-info">
                        <h2 class="project-info-title">VCAPP (2024 - Presente) </h2>
                        <p style="font-size: 1.3em; ">VCapp es una aplicación web en desarrollo con <strong><a href="https://wikitia.com/wiki/MERN_(solution_stack)">stack MERN</a></strong> que tiene como objetivo crear una plataforma en la que permitir a diferentes jugadores de videojuegos poder reunirse y entablar conversaciones en sus sesiones de juego. Inicialmente, esta apliación fue pensada como un simple proyecto personal y para amigos, aunque no se descarta escalarla para un público más amplio.</p>
                    </div>
                    <img style="max-height: 300px;" src="assets/placeholder_img.png" alt="Placeholder img">
                </div> 
            </li>
        </ul>
    </div>
