.skills-container{
    height: 20%;
    margin: 1rem;
    padding: .5rem;
    background-color: #095979;
    border-radius: 10px;
    position: relative;
}

.skill{
    position: absolute;
    width: fit-content;
    min-width: 80px;
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 4px;
    font-size: 20px;
    box-shadow: 1px 1px 5px;
    text-align: center;
    cursor:grabbing;
    user-select: none; /* Evita la selección de texto */
}